* {
  box-sizing: border-box;
}
  /* <!--Це гарантує, 
  що відступ та облямівка включаються до загальної
   ширини та висоти елементів. --> */ 
header {
  text-align: center;
  color: #499107;
}
  
body {
  background-color: #c1ebc3;
  display: block;
  margin: 8px;
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

input[type=text], input[type=number], input[type=email], option, select, textarea {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid;
  border-radius: 7px;
  resize: vertical;
  margin: 8px 0;
}

textarea {
  height: 150px;
  box-sizing: border-box;
  resize: none;
}  /* Використ. властивість resize, щоб запобігти 
зміненню розміру текстових областей
 (вимкн. "захоплювач" у нижньому правому куті) */

button[type=submit]{
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
} /* викор ширину: 100% для кнопок повної ширини */

button[type=submit]:hover {
  background-color: #5ecf64;
}

form {
  display: block;
  max-width: 550px;;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #7aeb94;
  padding: 22px;
}

.form-group{
  padding:10px;
  margin: 7px;
  width: 100%;
  position: relative;
  text-align: left;
}

div {
  position: relative;
  max-width: 550px;
}
